<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit System type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

</head>
<body>
<h3>
<p th:text="${'Name: ' + systemType.getName()}">System type</p>
</h3>
<p th:text="${'Name: ' + office.getName()}">office</p>

</br>

<h3>Existing Devices and Quantities</h3>
<table class="bordered-table">
    <thead>
    <tr>
        <th>Device</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deviceOffice : ${deviceOffice}">
        <td th:text="${deviceOffice.device.name}"></td>
        <td th:text="${deviceOffice.quantity}"></td>
    </tr>
    </tbody>
</table>

<br/>

<h3>Update Device Quantity</h3>
<form th:method="PATCH"
      th:action="@{/devices/{id_system_type}/{id_office}/set_quantity(id_system_type=${systemType.getId()},
      id_office=${office.id})}">
     <select th:object="${device}" th:field="*{id}">
         <option th:each="deviceOffice : ${deviceOffice}"
                 th:value="${deviceOffice.device.id}"
                 th:text="${deviceOffice.device.name}"></option>
     </select>
     <label for="setQuantity">Enter quantity</label>
     <input name="setQuantity" type="text" id="setQuantity"/>
     <input type="submit" value="Update Quantity"/>
 </form>

<br/>

<h3>Assign device list:</h3>

<div th:if="${devicesToAssign}">
    <form th:method="PATCH" th:action="@{/devices/{id_system_type}/{id_office}/assign(id_system_type=${systemType.getId()},
        id_office=${office.id})}">
        <label for="device">Set device for this office:</label>
        <select th:object="${device}" th:field="*{id}" id="device">
            <option th:each="device : ${devicesToAssign}"
                    th:value="${device.getId()}"
                    th:text="${device.getName()}"></option>
        </select>
        <label for="quantity">Enter quantity</label>
        <input name="quantity" type="text" id="quantity"/>
        <input type="submit" value="Assign office"/>
    </form>
</div>


<a th:href="@{/offices/{id}(id=${office.getId()})}"
   th:text="Back">office</a>
<br/>
<a th:href="@{/offices}">To office list</a>
<br/>
<a th:href="@{/}">Home</a>

</body>
</html>